
footer {
    background-color: var(--color-white);
    padding: 1rem 0;
    padding-left: 2rem;
    margin-top: 7rem;
    font-size: 0.9rem;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .permalinks {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .permalinks li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-bottom {
    display: flex;
  }
  
  .footer-column {
    color: black;
    font-size: 14px;
    text-align: center;
  }
  
  .disclaimer {
    margin-top: 20px;
    text-align: center;
    color: black;
    font-size: 10px;
  }

  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .permalinks {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .permalinks li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  
  .footer-column {
    width: 33.33%;
    color: black;
  }

  .footer__logo{
    text-align: center;
  }
  
  .disclaimer {
    margin-top: 20px;
    text-align: center;
    color: black;
  }


footer a{
    color: var(--color-bg);

}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover{
    background: transparent;
    color: var(--color-bg-variant);
    border-color: var(--color-bg-variant);
}

.permalinks a:hover{
    background: transparent;
    color: var(--color-bg-variant);
    border-color: var(--color-bg-variant);
}

.footer__logo a:hover{
    background: transparent;
    color: var(--color-bg-variant);
    border-color: var(--color-bg-variant);
}

.footer__copyright{
    margin-bottom: 4rem;
    color: var(--color-bg);
}



 
 @media screen and (max-width: 600px) {
   .permalinks{
       flex-direction: column;
       gap: 1.5rem;
   }

   .footer__socials{
       margin-bottom: 2.6rem;
   }
 }